.col-lg-3
  // Nav tabs
  ul.nav.stacked-tabs(role='tablist')
    li.abc(role='presentation')
      a(href='', aria-controls='', role='tab', data-toggle='tab', style='color:white') MENU
    li.active(role='presentation')
      a.new(href='#play', aria-controls='play', role='tab', data-toggle='tab')
        i.fa.fa-play-circle-o(aria-hidden='true')
        |  &nbsp Play
    li(role='presentation')
      a.new(href='#topplayers', aria-controls='topplayers', role='tab', data-toggle='tab')
        i.fa.fa-star-o(aria-hidden='true')
        |  &nbsp Top Players
    li(role='presentation')
      a.new(href='#faq', aria-controls='faq', role='tab', data-toggle='tab')
        i.fa.fa-commenting-o(aria-hidden='true')
        |  &nbsp F.A.Q
    li(role='presentation')
      a.new(href='#giveaway', aria-controls='giveaway', role='tab', data-toggle='tab')
        i.fa.fa-gift(aria-hidden='true')
        |  &nbsp Giveaway
    li(role='presentation')
      a.new(href='#referral', aria-controls='referral', role='tab', data-toggle='tab')
        i.fa.fa-bullhorn(aria-hidden='true')
        |  &nbsp Referral
    li(role='presentation')
      a.new(href='#store', aria-controls='store', role='tab', data-toggle='tab')
        i.fa.fa-shopping-cart(aria-hidden='true')
        |  &nbsp Store
    li(role='presentation')
      a#log.new(href='#tech', aria-controls='tech', role='tab', data-toggle='tab')
        i.fa.fa-wrench(aria-hidden='true')
        |  &nbsp Tech Support
  br
  // side banner
  .side-banner
    img(src='gift.png')
    br
    br
    p Add CSGOFAST.COM to your Steam nickname and get 5% bonus to your win amount!
  // Winner
  .win
    center Last Winner
    img(src='bull.png', width='40%')
    p
      strong jbsvd ,n
  .lane
    p  Win&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp $3221 
    p  chances &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp95% 
  br
  br
  .win
    center Luck of the day
    img(src='bull.png', width='40%')
    p
      strong jbsvd ,n
  .lane
    p  Win&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp $3221 
    p  chances &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp95% 
  br
  br
  center
    p.white
      strong Players currently online:  &nbsp &nbsp &nbsp 130
  p
